<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   
</head>
<body>
    <div class="container" style="padding:30px;">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div id="example3">
                        <h2 v-if="!message" class="text-info">Enter text to send a message</h2>
                        <h2 v-else class="text-success">Click "Send Message" to send</h2>
                        <textarea v-model="message" class="form-control"></textarea>
                        <br>
                        <button v-show="message"  class="btn btn-secondary">Send Message</button>
                </div>
            </div>
        </div>    
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
         new Vue({
            el: '#example3',
            data: {
                message: ""
            }
        })
    </script>
</body>
</html>
